<div class="vertical-gap">



<mat-card-title>
  Results
</mat-card-title>

<mat-card fxLayoutGap="60px">
  <div class="example-container"  fxLayoutAlign="center">
    <table mat-table #table [dataSource]="dataSource">

      <!-- Generic column definition -->
      <ng-container *ngFor="let column of display" [cdkColumnDef]="column">
        <th mat-header-cell *cdkHeaderCellDef>{{ column }}</th>
        <td md-cell *cdkCellDef="let row">{{row[getLabel(column)] }}</td>
      </ng-container>

      <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-card>

</div>
