

<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
    <input matEndDate placeholder="End date" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">

  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>


<div fxLayout="column" fxLayoutAlign="center center">
  <div class="example-container">
  <h2>Please select the data that you would like in your report</h2>
    <div
      cdkDropList cdkDropListOrientation="horizontal"
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">

      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
  <h2>Report</h2>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>

    <div class="example-button-row" fxFlexAlign="flex-end" >
      <button mat-raised-button color="primary">Primary</button>
    </div>

  </div>
  <mat-divider></mat-divider>


  <mat-divider></mat-divider>
</div>



