<div fxLayout="column" fxLayoutAlign="center center">

  <div class="example-container">
  <h2>Please select the data that you would like in your report</h2>
    <div
      cdkDropList cdkDropListOrientation="horizontal"
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">

      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
  <h2>Report</h2>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="example-button-row" fxFlexAlign="right" >
    <button mat-raised-button color="primary">Primary</button>
  </div>
  <mat-divider></mat-divider>
</div>



